extends layout/main

block content
  .video-detail__container
    .video__player
      video(src=`/${video.fileUrl}`, controls=true)
    .video__info
      if video.creator.id === (loggedUser || {}).id
        a(href=route.editVideo(video.id))
          button Edit Video
      h5.video__title=video.title
      span.video__views=video.views
      p.video__description=video.description
      .video__author
        | Uploaded by
        a(href=route.userDetail(video.creator.id))=video.creator.name
    .video__comments
      if video.comment.length === 1
        span.video__comment-number 1 comment
      else
        span.video__comment-number #{video.comment.length} comments