header.header
  .header__wrapper
    .header__column
      a(href=route.root)
        i.fas.fa-video
    .header__column
      form(action=route.search, method="get")
        input(type="text", name="term", placeholder="Search by term...")
    .header__column
      ul
        if user
          li
            a(href=`${route.video}${route.upload}`) Upload
          li
            a(href=route.me) Profile
          li
            a(href=route.logout) Log Out
        else
          li
            a(href=route.join) Join
          li
            a(href=route.login) Log In
